.asidebar {
  background-color: #1a1a1a;
  border-right: 1px solid #e7e7e7;
  min-height: 100vh;
  height: 100%;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  .asidebar {
    max-width: 150px;
  }
}
.asidebar h3 {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid #424242;
}
.asidebar div {
  width: 100%;
}
.asidebar div button {
  width: 100%;
  padding: 14px;
  border: none;
  background: transparent;
  color: #fff;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  border-left: 10px solid transparent;
}
.asidebar div button span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.asidebar div button:disabled {
  cursor: not-allowed;
}
.asidebar div button:hover {
  background-color: #424242;
  border-left-color: #477be2;
}
.asidebar div button.selected {
  background-color: #424242;
  border-left-color: #47e285;
}
