* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f2f2f2;
  min-width: 400px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  outline: none;
}
/*=============== globales ===============*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/*=============== utilidades ===============*/
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-gap-1 {
  column-gap: 10px;
  row-gap: 10px;
}
.flex-gap-2 {
  column-gap: 20px;
  row-gap: 20px;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mt-2 {
  margin-top: 20px;
}
/*=============== bienvenida ===============*/
.bienvenida {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-height: calc(100vh - 130px);
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bienvenida svg {
  width: 100px;
  height: auto;
  padding: 20px;
  background: #fff;
  border-radius: 50%;
  animation: rotate 2s linear infinite alternate;
}
@keyframes rotate {
  0% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
.bienvenida p {
  padding: 20px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #333;
  text-align: center;
  background: #fff;
}
